In [79]:
import pandas as pd

#### Contexte
L'ensemble de données comprend des annonces provenant de portails immobiliers populaires de Madrid 

#### Emplacement 
Madrid est l'une des villes les plus visitées d'Europe, tant par les touristes que par les hommes d'affaires, et c'est là que de nombreuses entreprises locales et multinationales importantes ont leur siège social. Par conséquent, Madrid bénéficie à la fois d'un afflux important de touristes et de personnes cherchant à vivre et à travailler dans la ville pour donner un coup de pouce à leur carrière professionnelle.

#### Prix attractifs 
Le marché immobilier est en phase de croissance depuis quelques années maintenant, ce qui signifie que vous pouvez toujours trouver des propriétés à des prix très attractifs (surtout par rapport aux autres capitales européennes) mais avec encore de bonnes chances de voir leur valeur augmenter à l'avenir.

#### Types de maisons
Les maisons individuelles ne sont pas courantes dans le centre-ville, mais existent dans les banlieues. Madrid propose également un mélange de nouvelles constructions et d'appartements existants. Les prix de l'immobilier dans les capitales sont généralement les plus chers d'un pays, mais ce n'est pas le cas en Espagne. Le coût de l'immobilier à Madrid est bien inférieur à celui de Barcelone et des zones côtières.

#### Contenu
Forme des données : 21 742 lignes et 58 colonnes.

#### Dictionnaire de données 
- id : id 
- title : Titre de la liste
- subtitle : Quartier et ville
- sq_mt_built : Mètre carré construit
- sq_mt_useful : Mètre carré utile
- n_rooms : Nombre de pièces
- n_bathrooms : Nombre de salles de bain
- sq_mt_allotment : Mètre carré de lotissement
- latitude, longitude : Latitude, Longitude (puisque les portails masquent  principalement l'emplacement des NA)
- raw_address : Adresse
- is_exact_address_hidden : Valeurs booléennes
- buy_price : Valeur cible

In [80]:
df = pd.read_csv('data/houses_Madrid.csv')

### Informations sur le dataframe

#### Dimension du dataframe

In [81]:
df.shape

(21742, 58)

#### 5 premières observations

In [82]:
pd.set_option('display.max_columns', None)
display(df.head())

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,latitude,longitude,raw_address,is_exact_address_hidden,street_name,street_number,portal,floor,is_floor_under,door,neighborhood_id,operation,rent_price,rent_price_by_area,is_rent_price_known,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,are_pets_allowed,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_furnished,is_kitchen_equipped,is_accessible,has_green_zones,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,NaN,NaN,"Calle de Godella, 64",False,Calle de Godella,64,NaN,3,False,NaN,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,sale,471,NaN,False,85000,1328,True,HouseType 1: Pisos,False,False,1960.0,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,NaN,NaN,Calle de la del Manojo de Rosas,True,Calle de la del Manojo de Rosas,NaN,NaN,4,False,NaN,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,sale,666,NaN,False,129900,1856,True,HouseType 1: Pisos,True,False,NaN,NaN,NaN,NaN,NaN,True,True,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,NaN,NaN,"Calle del Talco, 68",False,Calle del Talco,68,NaN,1,False,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,722,NaN,False,144247,1535,True,HouseType 1: Pisos,False,False,NaN,False,True,NaN,NaN,True,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,NaN,NaN,Calle Pedro Jiménez,True,Calle Pedro Jiménez,NaN,NaN,Bajo,True,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,583,NaN,False,109900,1717,True,HouseType 1: Pisos,False,False,1955.0,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,NaN,NaN,Carretera de Villaverde a Vallecas,True,Carretera de Villaverde a Vallecas,NaN,NaN,4,False,NaN,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,sale,1094,NaN,False,260000,2407,True,HouseType 1: Pisos,False,False,2003.0,NaN,NaN,NaN,True,True,True,True,NaN,True,NaN,NaN,True,NaN,NaN,NaN,True,en trámite,True,NaN,NaN,True,0.0,True,True,True,True

#### Noms des colonnes

In [83]:
print(list(df.columns))

['Unnamed: 0', 'id', 'title', 'subtitle', 'sq_mt_built', 'sq_mt_useful', 'n_rooms', 'n_bathrooms', 'n_floors', 'sq_mt_allotment', 'latitude', 'longitude', 'raw_address', 'is_exact_address_hidden', 'street_name', 'street_number', 'portal', 'floor', 'is_floor_under', 'door', 'neighborhood_id', 'operation', 'rent_price', 'rent_price_by_area', 'is_rent_price_known', 'buy_price', 'buy_price_by_area', 'is_buy_price_known', 'house_type_id', 'is_renewal_needed', 'is_new_development', 'built_year', 'has_central_heating', 'has_individual_heating', 'are_pets_allowed', 'has_ac', 'has_fitted_wardrobes', 'has_lift', 'is_exterior', 'has_garden', 'has_pool', 'has_terrace', 'has_balcony', 'has_storage_room', 'is_furnished', 'is_kitchen_equipped', 'is_accessible', 'has_green_zones', 'energy_certificate', 'has_parking', 'has_private_parking', 'has_public_parking', 'is_parking_included_in_price', 'parking_price', 'is_orientation_north', 'is_orientation_west', 'is_orientation_south', 'is_orientation_east']

#### Informations (valeurs non null, type, utilisation de la mémoire)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    21742 non-null  int64
 1   id                            21742 non-null  int64
 2   title                         21742 non-null  object
 3   subtitle                      21742 non-null  object
 4   sq_mt_built                   21616 non-null  float64
 5   sq_mt_useful                  8228 non-null   float64
 6   n_rooms                       21742 non-null  int64
 7   n_bathrooms                   21726 non-null  float64
 8   n_floors                      1437 non-null   float64
 9   sq_mt_allotment               1432 non-null   float64
 10  latitude                      0 non-null      float64
 11  longitude                     0 non-null      float64
 12  raw_address                   16277 non-null  object
 13  is_exact_address_hidden       21742 non-null  bool
 14  street_name                   15837 non-null  object
 15  street_number                 6300 non-null   object
 16  portal                        0 non-null      float64
 17  floor                         19135 non-null  object
 18  is_floor_under                20572 non-null  object
 19  door                          0 non-null      float64
 20  neighborhood_id               21742 non-null  object
 21  operation                     21742 non-null  object
 22  rent_price                    21742 non-null  int64
 23  rent_price_by_area            0 non-null      float64
 24  is_rent_price_known           21742 non-null  bool
 25  buy_price                     21742 non-null  int64
 26  buy_price_by_area             21742 non-null  int64
 27  is_buy_price_known            21742 non-null  bool
 28  house_type_id                 21351 non-null  object
 29  is_renewal_needed             21742 non-null  bool
 30  is_new_development            20750 non-null  object
 31  built_year                    10000 non-null  float64
 32  has_central_heating           13608 non-null  object
 33  has_individual_heating        13608 non-null  object
 34  are_pets_allowed              0 non-null      float64
 35  has_ac                        11211 non-null  object
 36  has_fitted_wardrobes          13399 non-null  object
 37  has_lift                      19356 non-null  object
 38  is_exterior                   18699 non-null  object
 39  has_garden                    1556 non-null   object
 40  has_pool                      5171 non-null   object
 41  has_terrace                   9548 non-null   object
 42  has_balcony                   3321 non-null   object
 43  has_storage_room              7698 non-null   object
 44  is_furnished                  0 non-null      float64
 45  is_kitchen_equipped           0 non-null      float64
 46  is_accessible                 4074 non-null   object
 47  has_green_zones               4057 non-null   object
 48  energy_certificate            21742 non-null  object
 49  has_parking                   21742 non-null  bool
 50  has_private_parking           0 non-null      float64
 51  has_public_parking            0 non-null      float64
 52  is_parking_included_in_price  7719 non-null   object
 53  parking_price                 7719 non-null   float64
 54  is_orientation_north          11358 non-null  object
 55  is_orientation_west           11358 non-null  object
 56  is_orientation_south          11358 non-null  object
 57  is_orientation_east           11358 non-null  object
dtypes: bool(5), float64(17), int64(6), object(30)
memory usage: 8.9+ MB

#### Statistiques descriptives

In [85]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,21742.0,10870.500000,6276.519112,0.0,5435.25,10870.5,16305.75,21741.0
id,21742.0,10871.500000,6276.519112,1.0,5436.25,10871.5,16306.75,21742.0
sq_mt_built,21616.0,146.920892,134.181865,13.0,70.00,100.0,162.00,999.0
sq_mt_useful,8228.0,103.458192,88.259192,1.0,59.00,79.0,113.00,998.0
n_rooms,21742.0,3.005749,1.510497,0.0,2.00,3.0,4.00,24.0
n_bathrooms,21726.0,2.091687,1.406992,1.0,1.00,2.0,2.00,16.0
n_floors,1437.0,3.128740,0.907713,1.0,2.00,3.0,4.00,7.0
sq_mt_allotment,1432.0,241.692737,247.484853,1.0,2.00,232.0,354.00,997.0
latitude,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
portal,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
door,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rent_price,21742.0,-59170.307929,917116.183176,-34590276.0,725.00,1116.0,1687.00,2517.0
rent_price_by_area,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buy_price,21742.0,653735.647503,782082.069836,36000.0,198000.00,375000.0,763600.00,8800000.0
buy_price_by_area,21742.0,4020.523871,1908.418774,447.0,2551.00,3720.0,5000.00,18889.0
built_year,10000.0,1970.046400,69.386705,1723.0,1957.00,1970.0,1994.00,8170.0
are_pets_allowed,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_furnished,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_kitchen_equipped,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
has_private_parking,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
has_public_parking,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parking_price,7719.0,2658.000518,13360.966258,0.0,0.00,0.0,0.00,600000.0

#### Pourcentage des valeurs manquantes

In [86]:
df.isnull().mean() * 100

Unnamed: 0                        0.000000
id                                0.000000
title                             0.000000
subtitle                          0.000000
sq_mt_built                       0.579524
sq_mt_useful                     62.156195
n_rooms                           0.000000
n_bathrooms                       0.073590
n_floors                         93.390672
sq_mt_allotment                  93.413669
latitude                        100.000000
longitude                       100.000000
raw_address                      25.135682
is_exact_address_hidden           0.000000
street_name                      27.159415
street_number                    71.023825
portal                          100.000000
floor                            11.990617
is_floor_under                    5.381290
door                            100.000000
neighborhood_id                   0.000000
operation                         0.000000
rent_price                        0.000000
rent_price_by_area              100.000000
is_rent_price_known               0.000000
buy_price                         0.000000
buy_price_by_area                 0.000000
is_buy_price_known                0.000000
house_type_id                     1.798363
is_renewal_needed                 0.000000
is_new_development                4.562598
built_year                       54.006071
has_central_heating              37.411462
has_individual_heating           37.411462
are_pets_allowed                100.000000
has_ac                           48.436206
has_fitted_wardrobes             38.372735
has_lift                         10.974151
is_exterior                      13.995953
has_garden                       92.843345
has_pool                         76.216539
has_terrace                      56.084997
has_balcony                      84.725416
has_storage_room                 64.593874
is_furnished                    100.000000
is_kitchen_equipped             100.000000
is_accessible                    81.262073
has_green_zones                  81.340263
energy_certificate                0.000000
has_parking                       0.000000
has_private_parking             100.000000
has_public_parking              100.000000
is_parking_included_in_price     64.497286
parking_price                    64.497286
is_orientation_north             47.760096
is_orientation_west              47.760096
is_orientation_south             47.760096
is_orientation_east              47.760096
dtype: float64

### Traitement des données

#### Gestion des doublons

In [87]:
print(df.duplicated().sum())

0

#### Gestion des valeurs manquantes

##### Suppression des colonnes

In [88]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.set_index('id', inplace=True)
df

,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,latitude,longitude,raw_address,is_exact_address_hidden,street_name,street_number,portal,floor,is_floor_under,door,neighborhood_id,operation,rent_price,rent_price_by_area,is_rent_price_known,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,are_pets_allowed,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_furnished,is_kitchen_equipped,is_accessible,has_green_zones,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,NaN,NaN,"Calle de Godella, 64",False,Calle de Godella,64,NaN,3,False,NaN,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,sale,471,NaN,False,85000,1328,True,HouseType 1: Pisos,False,False,1960.0,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,False,NaN,NaN,NaN,NaN,False,True,False,False
21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,NaN,NaN,Calle de la del Manojo de Rosas,True,Calle de la del Manojo de Rosas,NaN,NaN,4,False,NaN,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,sale,666,NaN,False,129900,1856,True,HouseType 1: Pisos,True,False,NaN,NaN,NaN,NaN,NaN,True,True,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,NaN,NaN,"Calle del Talco, 68",False,Calle del Talco,68,NaN,1,False,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,722,NaN,False,144247,1535,True,HouseType 1: Pisos,False,False,NaN,False,True,NaN,NaN,True,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,NaN,NaN,Calle Pedro Jiménez,True,Calle Pedro Jiménez,NaN,NaN,Bajo,True,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,583,NaN,False,109900,1717,True,HouseType 1: Pisos,False,False,1955.0,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,NaN,NaN,Carretera de Villaverde a Vallecas,True,Carretera de Villaverde a Vallecas,NaN,NaN,4,False,NaN,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,sale,1094,NaN,False,260000,2407,True,HouseType 1: Pisos,False,False,2003.0,NaN,NaN,NaN,True,True,True,True,NaN,True,NaN,NaN,True,NaN,NaN,NaN,True,en trámite,True,NaN,NaN,True,0.0,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Ático en venta en Casco Histórico de Barajas,"Barajas, Madrid",78.0,NaN,2,2.0,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,4,False,NaN,Neighborhood 10: Casco Histórico de Barajas (3...,sale,1323,NaN,False,350000,4487,True,HouseType 5: Áticos,False,False,2020.0,False,True,NaN,True,True,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,en trámite,True,NaN,NaN,True,0.0,NaN,NaN,NaN,NaN
4,Piso en venta en Urb. Campo de las Naciones - ...,"Barajas, Madrid",96.0,83.0,2,2.0,NaN,NaN,NaN,NaN,Urb. Campo de las Naciones - Corralejos,True,Urb. Campo de las Naciones - Corralejos,NaN,NaN,3,False,NaN,Neighborhood 9: Campo de las Naciones-Corralej...,sale,1496,NaN,False,425000,4427,True,HouseType 1: Pisos,False,False,2002.0,False,True,NaN,True,True,True,True,NaN,True,NaN,NaN,True,NaN,NaN,NaN,True,en trámite,True,NaN,NaN,True,0.0,False,True,True,True
3,Piso en venta en Campo de las Naciones-Corralejos,"Barajas, Madrid",175.0,NaN,4,2.0,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,Bajo,True,NaN,Neighborhood 9: Campo de las Naciones-Corralej...,sale,2081,NaN,False,680000,3886,True,HouseType 1: Pisos,False,False,2002.0,False,True,NaN,True,True,False,True,NaN,True,True,NaN,True,NaN,NaN,NaN,NaN,E,True,NaN,NaN,True,0.0,NaN,NaN,NaN,NaN
2,"Chalet adosado en venta en calle Burriana, 12","Campo de las Naciones-Corralejos, Madrid",289.0,NaN,4,3.0,3.0,304.0,NaN,NaN,"Calle Burriana, 12",False,Calle Burriana,12,NaN,NaN,False,NaN,Neighborhood 9: Campo de las Naciones-Corralej...,sale,2115,NaN,False,695000,2405,True,HouseType 2: Casa o chalet,False,False,1981.0,NaN,NaN,NaN,True,True,NaN,NaN,True,NaN,True,True,True,NaN,NaN,NaN,NaN,en trámite,True,NaN,NaN,True,0.0,False,False,True,False
1,"Piso en venta en calle San Epifanio, 9","Imperial, Madrid",72.0,NaN,2,2.0,NaN,NaN,NaN,NaN,"Calle San Epifanio, 9",False,Calle San Epifanio,9,NaN,NaN,NaN,NaN,Neighborhood 3: Imperial (4098.59 €/m2) - Dist...,sale,1494,NaN,False,424000,5889,True,HouseType 1: Pisos,False,True,NaN,NaN,NaN,NaN,NaN,NaN,True,True,NaN,True,True,NaN,NaN,NaN,NaN,NaN,NaN,A,True,NaN,NaN,True,0.0,NaN,NaN,NaN,NaN

Ici, nous allons supprimer les colonnes comportant les valeurs manquantes a plus de 90% : 
- n_floors : nombre d'étages 
- sq_mt_allotment : m carré attribué
- latitude 
- longitude 
- portal : présence d'un portail 
- door : nombre de porte 
- are_pets_allowed : animaux autorisés 
- is_furnished : meublé
- is_kitchen_equipped : cuisine équipé
- has_private_parking : contient un parking privé 
- has_public_parking : contient un parking publique

In [90]:
df.dropna(thresh=df.shape[1]*0.9, axis=0, inplace=True)
df.isnull().mean() * 100

C:\Users\anton\AppData\Local\Temp\ipykernel_11724\1877652035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(thresh=df.shape[1]*0.9, axis=0, inplace=True)

title                       0.000000
subtitle                    0.000000
sq_mt_built                 0.000000
n_rooms                     0.000000
n_bathrooms                 0.000000
raw_address                16.544607
is_exact_address_hidden     0.000000
street_name                17.432312
floor                       2.607634
is_floor_under              0.144252
neighborhood_id             0.000000
operation                   0.000000
rent_price                  0.000000
is_rent_price_known         0.000000
buy_price                   0.000000
buy_price_by_area           0.000000
is_buy_price_known          0.000000
house_type_id               1.653351
is_renewal_needed           0.000000
is_new_development          0.898802
has_central_heating        13.437639
has_individual_heating     13.437639
has_ac                     34.509543
has_fitted_wardrobes       18.797159
has_lift                    2.862850
is_exterior                 3.262317
energy_certificate          0.000000
has_parking                 0.000000
is_orientation_north        0.000000
is_orientation_west         0.000000
is_orientation_south        0.000000
is_orientation_east         0.000000
dtype: float64

##### Imputation